# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
*.log

# Pytest
.pytest_cache/

# Zip artifacts
function.zip
package/